body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "en", helvetica;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
/*
.back{
  background-color:  rgba(0,0,0,0.5);
}*/
.bgimg-1 {
  background-image: url("MODI.jpg");
  min-height: 80%;
}

.bgimg-2 {
  background-image: url("woodBack.png");
  min-height: 80%;
}

.bgimg-3 {
  background-image: url("woodBack.png");
  min-height: 80%;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  border-radius: 50px;
  color: #FF5733;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 50px;
  width: 150px;
  font-family: helvetica;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

.nav{
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: #ffffff;
	z-index: 99;
  border-bottom: 3px solid;
  border-bottom-color: #FF5733;
}
.ul li a{
		color: #000;
		text-decoration: none;
    background-color: #e6e6e6;
		display:inline-block;
    width: 190px;
    height: 35px;
    border-radius: 25px;
}
.ul{
	margin: 0;
	padding: 10px;
}
.ul li{
		float: left;
    margin-left: 30px;
		width: 250px;
		height: 40px;
		padding: 0,30px,0,0;
		font-size: 20px;
		text-align: center;
		line-height: 40px;
		opacity: .5;
		list-style: none;
}
.ul li a:hover{
	background-color: #FF5733;
  width: 200px;
  height: 40px;
  border-radius: 25px;
  color: #ffffff;
  font-size: 25px;
}
@keyframes slider{

0%{
	left: 0%;
}
20%{
	left: 0%;
}
25%{
	left: -100%;
}

45%{
	left: -100%;
}

50%{
	left: -200%;
}

70%{
	left:-200%;
}
//*
75%{
	left: -300%;
}
95%{
	left: -300%
}
100%{
	left: -400%
}*/
}
.slider {
		overflow: hidden;
		min-width: 100%;
    min-height: 70%;
		overflow: hidden;
	}
.slider figure img{
		width:20%;
       		float: left;
		overflow: hidden;
		height: 100%;
		}
.slider figure {
		position: relative;
		width: 500%;
		margin: 0%;
		left: 0;
		text-align: left;
		font-size: 0%;
		animation: 6s slider infinite;
	}

  @keyframes slider1{

  0%{
  	left: 0%;
  }
  20%{
  	left: 0%;
  }

  25%{
  	left: -100%;
  }

  45%{
  	left: -100%;
  }
/*
  50%{
  	left: -200%;
  }

  70%{
  	left:-200%;
  }

  75%{
  	left: -300%;
  }
  95%{
  	left: -300%
  }
  100%{
  	left: -400%
  }*/
  }
  .slider1 {
  		overflow: hidden;
  		min-width: 100%;
      min-height: 70%;
  		overflow: hidden;
  	}
  .slider1 figure img{
  		width:20%;
         		float: left;
  		overflow: hidden;
  		height: 100%;
  		}
  .slider1 figure {
  		position: relative;
  		width: 500%;
  		margin: 0%;
  		left: 0;
  		text-align: left;
  		font-size: 0%;
  		animation: 5s slider1 infinite;
  	}

.histtab{
  height: 50%;
}

hr{

    height: 2px;
    border: 0;
    border-top: 2px solid #FF5733;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
}


.heading{
  text-align: left;
  font-size: 30px;
  padding-top: 10px;
  border-top: 2px solid #FF5733;

}
.heading1{
  text-align: right;
  font-size: 30px;
  padding-top: 10px;
  border-top: 2px solid #FF5733;

}
.card{

  margin: 10px;
  }

.imgRoundedCorners{
  border-radius: 25px;
}
.imgRoundedCorners1{
  margin: 10px;
  border-radius: 25px;
  width: 300px;
  height:250px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  margin-right: -120px;
  margin-left: -120px;
  color: #ff5733;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*image grow animation*/
.zoomin img {
  height: 50px;
  width: 50px;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 1s ease;
}
.zoomin img:hover {
  width: 100px;
  height: 100px;
}

.zoomin1 img {
width: 300px;
height:250px;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.zoomin1 img:hover {
  width: 400px;
  height: 350px;
}
